.nav-container {
  background-color: #f1f5f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  box-shadow: 5px 0 10px grey;
  margin-bottom: 1rem;
}
.nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  font-size: 1.4rem;
  padding: 2rem;
  font-weight: 700;
}
.nav-logo h1 {
  color: #242f9b;
}
.nav-logo h1 span {
  color: green;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
}
.nav-links li {
  list-style: none;
}
.nav-links li a:link,
.nav-links li a:visited {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #222;
  transition: all 0.2s;
}
.nav-links li a:hover,
.nav-links li a:active {
  color: #764af1;
}
.nav-links li:last-child a:link,
.nav-links li:last-child a:visited {
  background-color: #764af1;
  color: white;
  border-radius: 1rem;
}
.toggle {
  background-color: #f1f5f8d2;
  position: fixed;
  top: 8rem;
  right: 1rem;
  width: 27rem;
  height: 25rem;
  font-size: 2rem;
  padding: 1rem;
}
.toggle ul {
  display: flex;
  flex-direction: column;
}
.toggle li {
  list-style: none;
}
.toggle li a:link,
.toggle li a:visited {
  padding: 1.3rem;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #222;
}
.toggle li a:hover,
.toggle li a:active {
  /* background-color: #dceaf5; */
  color: #764af1;
}
.toggle li:last-child a {
  margin-top: 1rem;
  background-color: #764af1;
  width: 10rem;
  transform: translateX(55%);
  color: white;
  border-radius: 1rem;
}
.nav-toggle {
  display: none;
  align-items: center;
}
.nav-toggle svg {
  cursor: pointer;
  border-radius: 50%;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  stroke: #764af1;
}
.nav-toggle:hover svg {
  background-color: white;
}
@media screen and (max-width: 780px) {
  .nav-links {
    display: none;
  }
  .nav-toggle {
    display: flex;
  }
}
