html{
  font-size: 62.5%;
  background-color: #f1f5f8;
}
body{
  width: 90%;
margin: 0 auto;
}
.user{
  display: grid;
 grid-template-columns: 7rem 1fr;
background-color: white;
  gap: 1rem;
  padding: 1rem;
}
.grid{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
 
}
a{
  text-decoration: none;
  color: #282c34;
  font-size: 1.1rem;
}
h1{
  color: rgb(71, 14, 124);
  padding: 2rem;
}
.img{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.css {
  display: block;
  margin: 20% auto;
  transition: all 0.4s;
  
}
.btn{
  padding: 2rem 1rem;
  font-size: 1.8rem;
  margin: 0 auto;
}
.footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  
}
.footer p {
font-size: 1.2rem;
}
.footer span{
  color: blueviolet;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
