@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');
* {
  background-color: #f1f5f8;
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo h1 {
  color: blueviolet;
  text-align: center;
  padding: 20px 10px;
}
.logo h1 span {
  color: grey;
}
.search-container {
  display: flex;
  gap: 20px;
}
.btn {
  cursor: pointer;
  background-color: white;
  color: orange;
  outline: 1px solid orange;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  transition: all 0.2s;
}
.btn:hover {
  background-color: rgb(218, 217, 217);
  color: red;
}
.btn-readmore {
  border: none;
  color: blueviolet;
  padding: 5px 10px;
  cursor: pointer;
  background-color: white;
  margin-bottom: 10px;
}
.btn-readmore:hover {
  color: darkgreen;
}
.search {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  outline: 1px solid blueviolet;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  background-color: white;
}
.filter {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.select {
  padding: 5px 10px;
  border: none;
  font-size: 16px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.flex {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.card {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgb(208, 207, 207);
  transition: all 0.2s;
  border-radius: 10px;
  animation: upload 1s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px grey;
}
.card h3 {
  background-color: white;
  margin-bottom: 15px;
}
.card .card-price {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.card .card-price p {
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  margin-bottom: 8px;
}
.card .card-price .price {
  color: blueviolet;
  font-weight: 600;
}
.card img {
  max-width: 100%;
}
.card .desc {
  font-size: 12px;
  background-color: white;
  color: #444;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}
.footer p {
  color: grey;
  font-size: small;
  line-height: 1px;
}
.footer p span {
  color: blueviolet;
  font-weight: 600;
}
@keyframes upload {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
